.body-phone2 {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  background-color: rgb(245, 245, 245);
  height: 100vh;
  .header {
    background-color: rgb(245, 245, 245);
    height: 120px;
    text-align: center;
    display: flex;
    &__icon {
      height: 30%;
      width: 15%;
      margin-left: 250px;
      display: inline-block;
      &__image {
        margin: 40px auto;
      }
    }
    &__status {
      width: 50%;
      padding-top: 40px;
      &__line {
        font-size: 12px;
        &__menber {
          font-weight: 600;
          color: #ccc;
          display: inline-block;
          margin-right: 30px;
          position: relative;
          &__box {
            background: #ea352d;
            height: 12px;
            width: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          &::after {
            position: absolute;
            bottom: 5px;
            content: '';
            width: 200%;
            height: 2px;
            background: #ea352d;
          }
        }
        &__number {
          font-weight: 600;
          color: #ea352d;
          display: inline-block;
          margin-right: 30px;
          position: relative;
          &__box {
            background: #ea352d;
            height: 12px;
            width: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          &::after {
            position: absolute;
            bottom: 5px;
            content: '';
            width: 160%;
            height: 2px;
            background: #ccc;
          }
        }
        &__address {
          color: #929191;
          display: inline-block;
          margin-right: 30px;
          position: relative;
          &__box {
            background: #ccc;
            height: 12px;
            width: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          &::after {
            position: absolute;
            bottom: 5px;
            content: '';
            width: 120%;
            height: 2px;
            background: #ccc;
          }
        }
        &__pay {
          color: #929191;
          display: inline-block;
          margin-right: 30px;
          position: relative;
          &__box {
            background: #ccc;
            height: 12px;
            width: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          &::after {
            position: absolute;
            bottom: 5px;
            content: '';
            width: 120%;
            height: 2px;
            background: #ccc;
          }
        }
        &__done {
          color: #929191;
          display: inline-block;
          margin-right: 30px;
          &__box {
            background: #ccc;
            height: 12px;
            width: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .main {
    background-color: rgb(245, 245, 245);
    height: 85%;
    &__container {
      background-color: white;
      height: 100%;
      width: 50%;
      margin: auto;
      &__header {
        background-color: white;
        height: 100px;
        font-size: 22px;
        font-weight: bold;
        margin: auto;
        text-align: center;
        line-height: 100px;
        border-bottom: #f5f5f5 solid 1px;
      }
      &__form {
        height: 30%;
        width: 100%;
        margin: auto;
        &__input {
          width: 340px;
          font-weight: 550;
          margin: 10px auto 0;
          &__label {
            font-weight: 550;
            display: inline-block;
          }
          &__require {
            background: #ea352d;
            display: inline-block;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__text {
            height: 25px;
            width: 300px;
            margin: 8px auto 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        &__info {
          font-size: 12px;
          display: block;
          height: 32px;
          width :340px;
          margin: auto;
          padding: 10px;
        }
        &__btn {
          &__red {
            background: #ea352d;
            display: block;
            height: 48px;
            width :335px;
            margin:0 auto 5px;
            font-size:14px;
            color:#fff;
            text-decoration: none;
            text-align: center;
            line-height: 3.3;
          }
        }
      }
      &__next {
        height: 25%;
        width: 100%;
        margin: auto;
        border: #f5f5f5 solid 1px;
        &__box {
          width: 340px;
          margin: auto;
          &__label {
            font-weight: 550;
            margin-top: 20px;
          }
          &__info {
            font-size: 12px;
            display: block;
            height: 32px;
            width :340px;
            margin: auto;
            padding: 10px 10px 0 0;
          }
        }
        &__btn {
          &__red {
            background: #ea352d;
            display: block;
            height: 48px;
            width :335px;
            margin:0 auto 5px;
            font-size:14px;
            color:#fff;
            text-decoration: none;
            text-align: center;
            line-height: 3.3;
          }
        }
      }
      &__bottom {
        height: 25%;
        width: 50%;
        margin: auto;
        &__label {
          font-weight: 550;
          margin-top: 20px;
        }
        &__again {
          font-size: 12px;
          margin-top: 5px;
          &__label {
            display: inline;
            color: #0099e8;
            text-decoration: none;
          }
        }
        &__info {
          font-size: 12px;
          display: block;
          height: 32px;
          width :340px;
          margin: auto;
          padding: 10px 10px 0 0;
          &__label {
            display: inline;
            color: #0099e8;
            text-decoration: none;
          }
        }
      }
    }
  }
  .footer{
    background-color: rgb(245, 245, 245);
    width: 100%;
    &__center{
      width: 450px;
      height: 200px;
      padding-top: 20px;
      margin: auto;
      text-align: center;
      .menu{
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        a{
          font-size: 12px;
          color:black;
          text-decoration: none;
        }
      }
      &__logo{
        margin: 40px auto 0
      }
      .inc{
        font-size: 13px;
      }
    }
  }  
}
