.main-signin {
  .header{
    background-color: #EEEEEE;
    width: 100%;
    height: 130px;
    &__logo{
      margin: 0 auto;
      text-align: center;
      height:50px;
      line-height:160px;
      vertical-align: middle;
      width: 200px;
    }
  }
  .main{
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    background-color: #EEEEEE;
    width: 100%;
    height: 800px;
    &__login{
      margin:0 auto;
      width:450px;
      height: 800px;
      background-color: #fff;
      &__account{
        padding: 40px 65px;
        border-bottom: solid 1px lightgrey;
        text-align: center;
        a{
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          line-height: 40px;
          text-decoration: none;
        }
      }
      
      &__inner{
        padding: 32px 64px;
        &__btn{
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          font-family: 'icon-font';
          &--facebook{
            background: #385185;
            color: #fff;
            display: inline-block;
            position: relative;
            .icon{
              float: left;
              font-size: 30px;
              position: absolute;
              left: 15px;
              top: 10px;
            }
          }
          &--google{
            margin: 16px 0 0;
            background: #fff ;
            border: #979797 solid 1px;
            color: #333;
            display: inline-block;
            position: relative;
            .icon{
              float: left;
              font-size: 25px;
              position: absolute;
              left: 15px;
              top: 10px;
            }
          }
        }
      }
      &__bottom{
        background-color: #fff;
        padding: 24px 64px 32px;
        width:450px;
        height: 465px;
        &__form{
          width: 100%;
          height: 50px;
          margin: 24px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        &__robot{
          width: 100%;
          height: 80px;
          margin: 24px 0 24px 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          background: skyblue;
        }
        &__login{
          text-decoration: none;
          background: #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 50px;
          font-size: 14px;
          border: 1px solid transparent;
          cursor: pointer;
          text-align: center;
        }
        &__passwordforgot{
          margin-top: 50px;
          text-decoration: none;
          color: skyblue;
        }
      }
    }
  }
  .footer{
    background-color: #EEEEEE;
    &__center{
    width: 450px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
      .menu{
        
        display: flex;
        justify-content: space-around;
        a{
          font-size: 12px;
          color:black;
          text-decoration: none;
        }
      }
      &__logo{
        margin: 40px auto 0
      }
      .inc{
        font-size: 13px;
      }
    }
  }
}