.footer__bar
  .footer__bar__middle
    .footer__bar__middle__image
      .footer__bar__middle__image__top
        スマホでカンタンフリマアプリ
      .footer__bar__middle__image__middle
        今すぐ無料ダウンロード !
      .footer__bar__middle__images__three
        = image_tag "logo_red.svg", class:"footer__bar__middle__images__three__image1",size:"68x60"
        %a{:href => ""}
          %img.footer__bar__middle__images__three__images__2{:src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
        %a{:href => ""}
          %img.footer__bar__middle__images__three__images__3{:src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
    .footer__bar__middle__image2