.header__image
  .slick
    %div
      = image_tag("top.jpg", class:"header__image__1__photo",size:"1100x390")
    %div
      = image_tag("https://d1f5hsy4d47upe.cloudfront.net/aa/aa564d79f665f73d08f5cf73fe8b3002_t.jpeg",size:"1100x390")