
.sc__clNaTc
  %a{href: "#", rel: "noopener noreferrer", target: "_blank"}
    .sc__hzNEM.kcYRpm
  .slider.sc__fQejPQ.gjkspQ
    .silder-frame
      %ul.slider-list
        %li.slider-slide.slide-visible

  %li.slider-slide
    .sc__hzNEM.fSbCwc
      .sc__chbbiW.lpfITZ
        = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", class:"footer__bar__middle__images__three",size:"1000x200"
        .sc__kxynE.hkJJjj
          .sc__iSDuPN.hjMsAb
            スマホで
            かんたん
            %br/
            フリマアプリ
          %p.sc__fZwumE.jmKeIu
            メルカリはスマホカメラからすぐに出品できる
            %br/
            購入時も安心な独自システムのアプリです
          .sc__gmeYpB.bPWhgn
            = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: 'footer__bar__middle__images__three__images__2')
            = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: 'footer__bar__middle__images__three__images__3')
.slider__control--centerleft
.slider__control--centerright
.slider__control--bottomcenter
  %span.style_active__2ihlK
  %span
%style{type: "text/css"}