.header__image
  .header__image__1
    .header__image__1__box
      .header__image__1__box__title
        スマホで かんたん
        %br
        フリマアプリ
      .header__image__1__box__content
        .header__image__1__box__content__top
          カリメルはスマホカメラからすぐに出品できる
        .header__image__1__box__content__bottom
          購入時も安心な独自システムのアプリです
      .header__image__1__box__icon
        = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: 'header__image__1__box__icon__1')
        = link_to image_tag("https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: 'header__image__1__box__icon__2')
    = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", class:"header__image__1__photo",size:"440x390"