.popular
  .popular__top4
    .popular__top4__title
      .popular__top4__title__text
        人気のカテゴリー
    .popular__top4__item
      .popular__top4__item__box
        .popular__top4__item__box__text
          レディース
      .popular__top4__item__box
        .popular__top4__item__box__text
          メンズ
      .popular__top4__item__box
        .popular__top4__item__box__text
          家電・スマホ・カメラ
      .popular__top4__item__box
        .popular__top4__item__box__text
          おもちゃ・ホビー・グッズ
.top__category
  .top__category__1
    .top__category__1__new
      .top__category__1__new__title
        レディース新着アイテム
      .top__category__1__new__detail
        もっと見る ＞
    .top__category__1__main
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
.top__category
  .top__category__1
    .top__category__1__new
      .top__category__1__new__title
        メンズ新着アイテム
      .top__category__1__new__detail
        もっと見る ＞
    .top__category__1__main
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
.top__category
  .top__category__1
    .top__category__1__new
      .top__category__1__new__title
        家電・スマホ・カメラ新着アイテム
      .top__category__1__new__detail
        もっと見る ＞
    .top__category__1__main
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
.top__category
  .top__category__1
    .top__category__1__new
      .top__category__1__new__title
        おもちゃ・ホビー・グッズ新着アイテム
      .top__category__1__new__detail
        もっと見る ＞
    .top__category__1__main
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
      .top__category__1__main__item
        .top__category__1__main__item__box
          .top__category__1__main__item__box__image
            .top__category__1__main__item__box__image__price
              ¥1,980
          .top__category__1__main__item__box__text
            .top__category__1__main__item__box__text__content
              あああああああああああああああああああああああああああああああああああああああ
            .top__category__1__main__item__box__text__hidden
.popular__footer