- if user_signed_in?
  .sell-camera
    = link_to new_item_path, class: 'sell-camera__button' do
      .sell-camera__box
        .sell-camera__name 出品
        %i.fas.fa-camera.sell-camera__icon
- else
  .sell-camera
    = link_to "/signup/step1", class: 'sell-camera__button' do
      .sell-camera__box
        .sell-camera__name 出品
        %i.fas.fa-camera.sell-camera__icon
    