%label 登録クレジットカード情報
%br
= "**** **** **** " + @default_card_information.last4
%br
- limit_month = @default_card_information.limit_month.to_s
- limit_year = @default_card_information.limit_year.to_s.slice(2,3)
= limit_month + " / " + limit_year
= form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
  %input{ type: "hidden", name: "card_id", value: "" }
  %button 削除する