.content{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  width: 700px;
  height: 360px;
  background-color:white;
    width: calc(100vw - 280px);
    position: absolute;
    top:100px;
    left: 300px;  
    margin-top:50px;
    margin-left: 90px;
    width:700px;

  &__header{
    border-bottom: 1px solid #eee;
    text-align: center;
    font-weight: bold;
    padding: 6px 20px;
    font-size: 24px;
  }
  &__main{
    height: 310px;
    padding: 64px;
    &__text{
      font-weight: bold;
      max-width: 320px;
      margin: 0 auto;
    }
    &__card{
      padding: 24px 0;
      border-bottom: 1px solid #eee;
      &__content{
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        line-height: 48px;
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
        a{
          text-decoration: none;
          color: #fff;
        }
      }
    }
    &__bottom{
      display: block;
      margin: 40px 0 0;
      text-align: right;
      a{
        text-decoration: none;
        color: #0099e8;
      }
      .icon{
        font-size: 18px;
        color: #0099e8;
      }
    }
  }
}