* {
  box-sizing: border-box;
}


.header {
  height: 100px;
  width: 100vw;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;

  .header-main {
    width: 75%;
    position: absolute;
    left: 15%;
    top:10px;

    .header-main__search-bar1 {
      height: 50px;
      width: 100%;
      display: flex;

      &__logo-button {
        height: 100%;
        width: 20%;
        &__image {
          height: 80%;
        }
      }
      &__text {
        width: 100%;
        position: relative;
        input[type="text"] {
        width: 95%;
        height: 40px;
        background-color: rgb(245, 245, 245);
        border-color: rgb(204, 204, 204);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        line-height: 1.4em;
        }
        &__form{

        }
        &__box {
          position: absolute;
          right: 37px;
          top:10px;
          
          &__icon{
            font-size: 14px;
          }
          &__button{
            // display: none;
            // -webkit-writing-mode: horizontal-tb !important;
            // text-rendering: auto;
            // color: buttontext;
            // letter-spacing: normal;
            // word-spacing: normal;
            // text-transform: none;
            // text-indent: 0px;
            // text-shadow: none;
            // display: inline-block;
            // text-align: center;
            // align-items: flex-start;
            // cursor: default;
              }
            }
          }
        }
      

    .header-main__search-bar2 {
      height: 50px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__genre-search {
        height: 50px;
        width: 30%;
        display: flex;
        line-height: px;
        font-weight: 600;
        padding-top: 10px;
        &__category-search {
          width: 50%;
          &__category-image{
            color: black;
            i{
              color: red;
            }
          }
        }
        &__brands-search {
          width: 50%;
          &__brands-image {
            color: black;
            i{
              color:red
            }
          }
        }
      }
      &__auth-box {
        height: 50px;
        width: 56%;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        padding: 5px;
        i{
          color: gray;
        }
        font{
          color: black;
          font-size: 14px;
        }
        &__iine {
          width: 25%;
          list-style: none;
        }
        &__notice {
          width: 25%;
          list-style: none;
        }
        &__todo {
          width: 25%;
          list-style: none;
        }
        &__mypage {
          width: 25%;
          list-style: none;
        }
      }        
    }
  }
}