.main-form{
  background-color:#f5f5f5;
  height: 100vh;
  position: absolute;
  width: calc(100vw - 100px);
  top:135px;
  left: 300px;  
  margin-top:16px;
  margin-left: 13%;
  background-color:white;
  height: 1200px;
  width: 750px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
.header-right{
  font-size: 24px;
  padding: 8px 24px;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
  text-align: center;
}
.form{
  background-color:white;
  height: 1200px;
  padding: 45px 64px;
  
  &__text{
    &__right{
      margin-top: 12px ;
      text-align: right;
      a{
        color: #0099e8;
        text-decoration: none;
      }
      .icon{
        color: #0099e8;
      }
    }
  }
  &__group{
    margin-top:40px ;
    position: relative;
    &__tagu{
      font-weight: 600;
    }
    &__arbitrary{
      background: #ccc;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    &__default{
      width: 100%;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
    
    }
    .angle-down-icon{
      position: absolute;
      top: 35px;
      right: 20px;
      font-size: 25px;
      color: gray;
    }
    &__select{
    width: 100%;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background:#fff;
    cursor: pointer;
    -webkit-appearance: none;
    font-weight: 100;
    }
  }
  .btn{
    margin: 40px 0 0 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
  }
  &__text{
    &__bottom{
      margin-top: 40px ;
      text-align: right;
      a{
        color: #0099e8;
        text-decoration: none;
      }
      .icon{
        color: #0099e8;
      }
    }
  }
}
