* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.purchase__confirmation{
  a{
    color: #0099e8;
  }
  width: 100vw;
  background-color: #f5f5f5;
  padding: 0 20%;
  &__icon{
    padding: 39.5px 0;
    display: flex;
    justify-content: center;
  }
  &__main{
    background-color: #fff;
    padding-bottom: 48px;
    &__top{
      font-size: 22px;
      padding: 32px;
      text-align: center;
      font-weight: 600;
      border-bottom: solid 0.1px #e0e0e0;
    }
    &__item{
      padding:32px 30% ;
      display: flex;
      border-bottom: solid 0.1px #e0e0e0;
      &__image{
        height: 80px;
        width: 80px;
        background-color: red;
      }
      &__content{
        width: 247px;
        padding-left: 16px;
        &__text{
          font-size: 14px;
          padding-bottom: 8px;
        }
        &__price{
          display: flex;
          &__money{
            font-size: 15px;
          }
          &__tax{
            font-size: 12px;
          }
        }
      }
    }
    &__payment{
      padding: 32px 30% 0;
      &__price{;
        &__box{
          display: flex;
          justify-content: space-between;
          font-weight: 600;
          &__text{
            padding-top: 10px;
            font-size: 18px;
          }
          &__money{
            font-size: 30px;
          }
        }
        &__point{
          padding: 20px 0 32px;
          border-bottom: solid 0.1px #e0e0e0;
          color: #888888;
          &__box{
            font-size: 14px;
            display: flex;
            &__text{
              
            }
            &__value{
              padding-left: 5px;
            }
          }
        }
      }
      &__card{
        padding: 32px 0;
        font-size: 14px;
        &__method{
          display: flex;
          justify-content: space-between;
          &__text{

          }
          &__change{

          }
        }
        &__info{
          padding: 8px 0 32px;
          border-bottom: solid 0.1px #e0e0e0;
          &__name{

          }
          &__number{
            padding-top: 3px;
          }
          &__limit{
            padding-top: 3px;
            display: flex;
            &__text{

            }
            &__value{
              padding:2px 0 0 3px;
            }
          }
          &__icon{
            border-radius: 0.1em;
            margin-top: 10px;
            font-size: 25px;
            color:rgba(255,255,255,0.4);
            background:linear-gradient(90deg,blue 0%,blue 33%,red 33%,red 66%,green 66%,green 99%);
          }
        }
      }
      &__address{
        font-size: 14px;
        padding-bottom: 32px;
        border-bottom: solid 0.1px #e0e0e0;
        &__method{
          display: flex;
          justify-content: space-between;
          &__text{

          }
          &__change{

          }
        }
        &__number{

        }
        &__text{

        }
        &__name{
        }
      }
    }
    &__bottom{
      font-size: 14px;
      padding:24px 30% 0;
      &__caution{
        color: #ea352d;
      }
      &__button{
        background-color: #888888;
        text-align: center;
        padding: 24px;
        font-weight: 600;
        a{
          color: #fff;
        }
      }
      &__app{
        padding-top: 40px;
        &__text{

        }
        &__icon{
          padding: 15px 25px 0;
          display: flex;
          justify-content: space-between;

          &__1{

          }
          &__2{

          }
        }
      }
    }
  }
}
.purchase__confirmation__bottom{
  padding: 40px 0 40px;
  background-color: #f5f5f5;
  font-size: 12px;
  a{
    color: black;
  }
  &__terms{
    display: flex;
    justify-content: center;
    &__1{
      padding-right: 15px;
    }
    &__2{
      padding-right: 15px;
    }
    &__3{

    }
  }
  &__icon{
    display: flex;
    justify-content: center;
    &__1{
      &__image{

      }
      &__text{
  
      }
    }
  }
}