.slick-prev{
  left: 30px;
  height: 80px;
  width: 80px;
  z-index: 100;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-next{
  left: 1190px;
  height: 80px;
  width: 80px;
  z-index: 100;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-dots {
  bottom: 25px;
  li button{
    &::before{
      height: 15px;
      width: 15px;
      background-color: rgb(116, 116, 116);
      border-radius: 50%;
    }
  }
}

