.sell_list {
  background-color: white;
  min-height: 466px;
  min-width: 755px;
  position: absolute;
  top: 195px;
  left: 490px;
  &__header {
    padding: 0 4%;
    background: #fafafa;
    font-size: 16px;
    line-height: 72px;
  }
  &__tab {
    height: 80px;
  }
  &__body {
    &__tab1 {
      border-bottom: 1px solid #eee;
      &__list {
        display:flex;
        &__image {
          margin: 8px;
        }
        &__name {
          margin-top: 8px;
          margin-left: 8px;
        }
      }
    }
  }
}

/*タブのスタイル*/
.tab-radio {
  width: calc(100%/3);
  height: 80px;
  border-top: 2px solid #ea352d;
  background: #eee;
  line-height: 80px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab-radio:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab-radio"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.sell_list input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}