.content
  .content__header
    支払い方法
  .content__main
    .content__main__text
      クレジットカード一覧
    .content__main__card
      .content__main__card__content
        =link_to "#" do
          =icon('fa','credit-card')
          クレジットカードを追加する
    
    .content__main__bottom
      =link_to "#" do
        支払い方法について
      = icon('fa', 'angle-right',class:'icon')