.logout
  .logout__container.clearfix
    .logout__content
      .logout__chapter-container
        %form.logout__single--inner{action: "https://www.mercari.com/jp/logout/", method: "POST", novalidate: "novalidate"}
          .logout__single--content
          %button.btn-default.btn-red{type: "submit"} ログアウト
          %input{name: "__csrf_value", type: "hidden", value: "b5f1850bb6ea956b2637b161e6491023d706e6b512897e56b9b2ee71c6859b67c4856bc82c9c9604a7da6f4847cae46ff50b5e53a4ce21011284707b7a56cd669"}/